/*#region reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
a {
    cursor: pointer;
    font-family: inherit;
    color: inherit;
    text-decoration: none;
}
button {
    cursor: pointer;
    border: none;
    outline: none;
}
body {
    color: #121417;
    font-family: "Manrope", sans-serif;
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*#endregion reset*/

/*#region all style */
img {
    display: block;
    max-width: 100%;
    min-height: auto;
}
picture {
    display: block;
    margin: 0 auto;
}
.container {
    margin: 0 auto;
    max-width: 1044px;
    padding: 0 10px;
}
.section {
    padding:150px 0;
}
.wrap {
    padding-top: 96px;
}
.container-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main {
    flex-grow: 1;
}

/*#endregion all style */

/*#region header */

.header-container {
    margin-bottom: 16px;
}
.header-wrap {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.header-logo-slogan {
    color: #4dc274;
}

.header-list {
    display: flex;
    gap: 20px;
}

.header-item {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.header-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 37px;
    height: 2px;
    transition: background-color 350ms ease-in;
}
.header-link:hover::after {
    content: "";
    position: absolute;
    background-color: #4dc274;
    left: 0;
    bottom: -4px;
    width: 37px;
    height: 2px;
}

.header-social-list {
    display: flex;
    gap: 12px;
}

.header-social-item {
    border: 1px solid rgba(77, 194, 116, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 44px;
    height: 44px;
    transition: fill 250ms ease-out, border 250ms ease-out;
}
.header-social-item:hover {
    fill: rgba(77, 194, 116, 0.7);
}

.header-social-link {
}

.header-social-icons {
}
/*#endregion header*/
/*#region hero*/


.hero-titel {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.16667;
    color: #fff;
}

.hero-slogan {
    color: #bee8cc;
}

.hero-button {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    border-radius: 12px;
    padding-block: 16px;
    padding-inline: 64px;
    width: 306px;
    background: #4dc274;
    height: 60px;
}
.hero-button:hover {
    background: #38ae5f;
}
.hero-link {
    fill: #38ae5f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 32px;
    bottom: 32px;
}
.hero-link:hover {
    background: #4dc274;
    fill: white;
}

.hero-link-icon {
}
/*#endregion hero*/
/*#region about-us*/
.about-us {
}

.about-us-titel {
    position: relative;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 16px;
}
.about-us-tittel-text {
    position: relative;
}
.about-us-tittel-text:after {
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 8px;
    width: 100%;
    height: 20px;
    background: #bee8cc;
}

.about-us-wrap {
    display: flex;
    flex-wrap: wrap;
}
.about-us-text {
    margin: auto;
    font-size: 18px;
    line-height: 1.66667;
    text-align: center;
    color: rgba(18, 20, 23, 0.5);
    margin-bottom: 64px;
}

.about-us-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 32px 24px;
}
.about-us-item-container {
    padding: 32px;
}
.about-us-item {
    width: 325px;
    border-radius: 30px;
    height: 160px;
    background: #f3f5f6;
}

.about-us-number {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14286;
    letter-spacing: -0.02em;
    color: #4dc274;
    display: block;
    margin-bottom: 16px;
}
.about-us-item-text {
    font-weight: 700;
    font-size: 20px;

    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #121417;
}
.about-us-container {
    background-color: #38ae5f;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 266px 211px;
    background-image: url("../img/About-us/memoji.png");
    border-radius: 30px;
    width: 325px;
    height: 352px;
}
/*#endregion about-us*/
/*#region lessons */
.lessons {
}
.container {
}
.lessons-wraper {
    margin-bottom: 64px;
}
.lessons-subtitel {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
}
.lessons-desc {
    z-index: 0;
    position: relative;
}
.lessons-desc::after {
    z-index: -1;
    left: 0;
    bottom: 0;
    content: "";
    position: absolute;
    width: 100%;
    border-radius: 8px;
    background: #bee8cc;
    height: 20px;
}
.lessons-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66667;
    text-align: center;
    color: rgba(18, 20, 23, 0.5);
}

.lessons-list {
    margin: auto;
    gap: 32px;
    display: flex;
}

.lessons-item {
    border: 1px solid #4dc274;
    border-radius: 30px;
    padding: 32px;
}

.lessons-item:nth-child(2) {
    color: #f3f5f6;
    background-color: #4dc274;
}
.lessons-item:nth-child(2) .lessons-item-btn {
    border: 1px solid white;
}
.lessons-item:nth-child(2) .lessons-item-btn:hover {
    border: 1px solid white;
    color: #38ae5f;
    background-color: #fff;
}

.lessons-item-subtitel {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
}

.lessons-item-price {
    display: block;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 16px;
    /* line-height: 44px; */
    line-height: 1.375;
    letter-spacing: -0.02em;
    text-align: center;
}

.lessons-item-text {
    margin-bottom: 32px;
    width: 255px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.lessons-item-btn {
    font-weight: 700;
    font-size: 18px;
    background: #4dc274;
    line-height: 1.55556;
    color: #fff;
    border-radius: 12px;
    padding-block: 16px;
    padding-inline: 39px;
    width: 256px;
    height: 60px;
    transition: background-color 250ms ease-out;
}

.lessons-item-btn:hover {
    background-color: #38ae5f;
}

/*#endregion lessons */
/*#region master */



.master-titel {
    width: 776px;
    margin-bottom: 155px;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.16667;
    color: #fff;
}

.matster-wrap {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.master-subtitel-text {
    color: #bee8cc;
}

.master-card {
    position: relative;
    width: 1023px;
    height: 470px;
    border-radius: 30px;
    z-index: 1;
}

.master-card-1 {
    left: 0;
    top: 0;
    z-index: 0;
    position: absolute;

    border-radius: 30px;
    width: 1010px;
    height: 401px;
    background: rgba(255, 255, 255, 0.5);
    transform: rotate(-11deg);
}

.master-card-2 {
    padding-top: 44px;
    padding-bottom: 84px;
    padding-left: 65px;
    display: flex;
    left: 0;
    top: 0;
    z-index: 2;
    position: absolute;
    background-color: white;
    border-radius: 30px;
    width: 1023px;
    height: 470px;
}

.master-card-3 {
    left: 0;
    top: 0;
    z-index: 0;
    position: absolute;
    background: #d4fde1;
    transform: rotate(8deg);

    border-radius: 30px;
    width: 1049px;
    height: 462px;
}
.subtitel {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.master-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.master-item-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-color: #4dc274;
}

.master-item {
    align-items: center;
    gap: 16px;
    display: flex;
}

.master-text {
    position: relative;
    width: 653px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.master-button {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.55556;
    color: #fff;
    background: #4dc274;
    border-radius: 12px;
    padding-block: 16px;
    padding-inline: 64px;
    width: 306px;
    height: 60px;
    transition: background-color 350ms ease-out;
}
.master-button:hover {
    background-color: #38ae5f;
}
.master-picture {
    align-self: center;
}
/*#endregion master*/
/*#region teachers */
.teachers {
}

.teachers-subtitel {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
}

.teachers-desc {
    z-index: 0;
    position: relative;
}
.teachers-desc::after {
    z-index: -1;
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    border-radius: 8px;
    height: 20px;
    background: #bee8cc;
}

.teachers-text {
    margin-bottom: 64px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66667;
    text-align: center;
    color: rgba(18, 20, 23, 0.5);
}
.teachers-list {
    display: flex;
    gap: 32px;
}

.teachers-item {
    text-align: center;
    width: 232px;
    height: 318px;
}
.teachers-item-picture {
    margin-bottom: 16px;
}

.teachers-item-img {
    margin: 0 auto;
}

.teachers-item-name {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
}

.teachers-item-text {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(18, 20, 23, 0.5);
}
/*#endregion teachers */
/*#region leave */
.leave {
}

.leave-titel {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
    color: #121417;
}
.leave-container {
    margin-bottom: 64px;
}
.leave-desc{
    z-index: 0;
    position: relative;
}
.leave-desc::after{
    content: '';
    position: absolute;
    left:0;
    bottom: 0;
    border-radius: 8px;
    z-index: -1;
    width: 100%;
    height: 20px;
    background: #bee8cc;
}
.leave-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66667;
    text-align: center;
    color: rgba(18, 20, 23, 0.5);
}
.leave-container-img {
    gap: 32px;
    display: flex;
}

.leave-img {
    border-radius: 30px;
    background-color: #38ae5f;
    width: 492px;
}
.leave-picture {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    overflow: hidden;
}

.leave-picture-img {
}

.leave-img-wrap {
    padding: 20px 20px 40px 20px;
}

.leave-img-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}
.leave-num {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
}

.leave-wrap-form {
}

.leave-form-label {
    display: block;
    margin-bottom: 18px;
}

.leave-inpute {
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 12px;
    padding: 16px 18px;
    width: 100%;
    height: 56px;
}
.leave-inpute-textarea {
    width: 100%;
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 12px;
    padding: 16px 18px;
    margin-bottom: 32px;
    height: 104px;
}

.leave-inpute:focus,
.leave-inpute-textarea:focus {
    outline-color: #38ae5f;
}
.leave-legend {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin-bottom: 16px;
}

.leave-fieldset-label {
    margin-right: 12px;
    margin-left: 32px;
    position: relative;
    display: inline-block;
    margin-bottom: 32px;
}

.leave-btn {
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.55556;
    color: #fff;
    border-radius: 12px;
    padding-block: 16px;
    padding-inline: 228px;
    width: 100%;
    height: 60px;
    background: #4dc274;
    margin-bottom: 16px;
    transition:background-color 350ms ease-in-out;
}
.leave-btn:hover{
    background-color: #38ae5f;
}
.form-text {
    font-size: 14px;
    line-height: 1.71429;
    text-align: start;
}
.custom-radio {
    margin-left: -31px;
    transform: translateY(-50%);
    left: 0;
    top: 50%;
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #1214172d;
}
.custom-radio::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: transparent;
    transition: background-color 350ms ease-in-out;
}
.radio {
    display: none;
}
.radio:checked + .custom-radio {
    border-color: #38ae5f;
}

.radio:checked + .custom-radio::before {
    background-color: #38ae5f;
}

/*#endregion leave*/

/*#region students */
.students {
}
.students-wrap {
    display: flex;
    gap: 32px;
}
.students-box {
    margin-bottom: 64px;
}

.students-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66667;
    text-align: center;
    color: rgba(18, 20, 23, 0.5);
}
.students-titel {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
}

.students-desc {
    z-index: 0;
    position: relative;
}
.students-desc::after{
    border-radius: 8px;
    content: '';
    z-index: -1;
    bottom:0;
    left: 0;
    width: 100%;
    height: 20px;
    position: absolute;
    background: #bee8cc;
}

.students-quote {
    padding: 32px 16px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.66667;
    color: rgba(18, 20, 23, 0.5);
}

.students-card {
    padding: 32px 16px 40px 16px;
    border-radius: 30px;
    background: #f3f5f6;
}

.students-container {
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #4dc274;
    padding: 14px 16px;
}

.students-picture {
    margin: 0;
}

.students-user {
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #fff;
}

.students-img {
    border-radius: 50%;
}

.students-suporting-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    color: rgba(255, 255, 255, 0.5);
}
.students-card-wrap {
}
/*#endregion students*/

/*#region  footer*/
.footer {
    padding-top: 64px;
    padding-bottom: 23px;
    background: #121417;
}

.container {
}

.footer-top {
    padding-bottom: 64px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.footer-top::after {
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-wrap {
}

.footer-logo {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}


.footer-address > a {
    display: block;
    font-weight: 600;
    font-size: 14px;

    /* line-height: 18px; */
    line-height: 1.28571;
    color: #fff;
}

.footer-tel {
    margin-bottom: 16px;
}

.footer-lead {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-addres {
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
    color: #fff;
}

.footer-item {
}

.footer-social-list {
    display: flex;
    gap: 12px;
}

.footer-social-item {
}

.footer-social-link {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 44px;
    height: 44px;
}

.footer-social-icons {
    fill: #fff;
    transition: fill 350ms ease-out;
}

.footer-social-icons:hover {
    fill: #4dc274;
}

.header-social-link {
}

.footer-bottom {
    opacity: 0.9;
    padding-top: 23px;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-bottom-copy {
    margin-right: auto;
}

.footer-bottom-text {
    margin-right: 8px;
}

.footer-bottom-wrap {
}
/*#endregion footer */

/*#region burger-menu */
.burger {
    z-index: 10000;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(18, 20, 23, 0.4);

    opacity: 0;
    pointer-events: none    ;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    position: absolute;
    background: #4dc274;
    width: 384px;
    height: 1000px;
}

.burger-menu-btn {
    position: absolute;
    cursor: pointer;
    background-color: inherit;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 32px;
}
.burger-menu-icon {
    fill: #fff;
}

.burger-menu-list {
    margin: auto 0;
}

.burger-menu-item {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
    color: #fff;
}
.burger-menu-item:not(:last-child){
    margin-bottom: 20px;
}

.burger-menu-link {
}

.burger-menu-social-list {
    display: flex;
    gap: 12px;
}

.burger-menu-social-item {
}

.burger-menu-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        padding: 8px;
        width: 44px;
        height: 44px;
        margin-bottom: 32px;
}

.burger-menu-social-icons {
    fill: white;
}



/*#endregion burger-menu*/
